<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.dao.${ClassName}DAO">
    <select id="selectOneById" resultType="${packageName}.entity.${ClassName}">
        select * from `${tableName}` where id = #{id}
    </select>
    <select id="selectOne" resultType="${packageName}.entity.${ClassName}">
        select * from `${tableName}` <include refid="whereSql"></include>
    </select>
    <select id="selectAll" resultType="${packageName}.entity.${ClassName}">
        select * from `${tableName}` <include refid="whereSql"></include> order by id desc
    </select>
    <select id="selectCount" resultType="long">
        select count(id) from `${tableName}`
        <include refid="whereSql"></include>
    </select>
    <select id="selectPage" resultType="${packageName}.entity.${ClassName}">
        select * from `${tableName}` <include refid="whereSql"></include> order by id desc LIMIT ${fromRowIndex},${pageSize}
    </select>
    <sql id="whereSql">
        <where>
        #foreach ($column in $columns)
        #if(!$column.pk && $column.javaType.name=='String')
            <if test="$column.propertyName != null and $column.propertyName != ''">and instr(`$column.name` , #{$column.propertyName})</if>
        #end
        #if(!$column.pk && $column.javaType.name!='String')
            <if test="$column.propertyName != null">and `$column.name` = #{$column.propertyName}</if>
        #end
        #end
        </where>
    </sql>
</mapper>